@import "tailwindcss";

@theme {
  --color-primaryDefault: #000000;
}

* {
    box-sizing: border-box;
}

body {
  background: #fff8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: 0;
}
